{$DOMAIN_WEB} {
	reverse_proxy web:3000
	tls {$TLS_EMAIL:admin@novanews.com}
}

{$DOMAIN_API} {
	reverse_proxy api:3001
	tls {$TLS_EMAIL:admin@novanews.com}
}

{$DOMAIN_N8N} {
	reverse_proxy n8n:5678
	tls {$TLS_EMAIL:admin@novanews.com}
}
