http://novanewsosnrel.com {
	reverse_proxy web:3000
}

http://api.novanewsosnrel.com {
	@metrics {
		path /metrics
	}
	respond @metrics "Forbidden" 403
	reverse_proxy api:3001
}

http://n8n.novanewsosnrel.com {
	reverse_proxy n8n:5678
}

http://telemetry.novanewsosnrel.com {
	reverse_proxy grafana:3000
}
